header nav {
  background-color: #AAAAAA;

  li {
    display: inline-block;
    background-color: #BBBBBB;
    height: 50px;
    list-style: none;

    a {
      display: inline-block;
      height: 100%;
      // padding: 10px;
      text-decoration: none;
    }
  }
}

