header nav {
  background-color: #AAAAAA;

  li {
    display: inline-block;
    background-color: #BBBBBB;
    height: 50px;
    list-style: none;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    a {
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      color: #000000;
      background-color: #CCCCCC;
      border-radius: 10px;

      position: relative;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        background-color:#D2D2D2;
      }
    }
  }
}

