.map {
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

.map-row {
  // display: block;
  // background-color: #AAAAAA;
}

.row-item {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  // border: 1px solid #000000;
  border-top: 3px solid rgba(255,255,255, 0.6);
  border-left: 3px solid rgba(255,255,255, 0.6);
  border-right: 3px solid rgba(0,0,0, 0.6);
  border-bottom: 3px solid rgba(0,0,0, 0.6);

  background-color: #DDDDDD;//#8080ff
  border-radius: 5px;

  transition: background-color 0.2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &:hover {
    background-color: #b3b3ff;//#b3b3ff
  }

  &.light-path {
    background-color: #40ff49;
  }
  &.heavy-path {
    background-color: #ff6666;
  }
  &.player-path {
    background-color: #AAAAAA;
    color: #FFFFFF;
  }

  p {
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}