header nav {
  background-color: #AAAAAA;

  li {
    display: inline-block;
    margin: 0;
    padding: 5px;
    background-color: #BBBBBB;
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

