<div class="bottom-menu">
  <div class="content">
    <form class="vertical-center" ng-submit="mainCtrl.buildMap()" ng-show="mainCtrl.buildPhase">
      <label>Rows:</label>
      <input type="number" ng-model="mainCtrl.rows" min="2" max="50">
      <label>Columns:</label>
      <input type="number" ng-model="mainCtrl.columns" min="2" max="10">
      <input type="submit" class="button" value="Build Map!" ng-disabled="!mainCtrl.rows || !mainCtrl.columns">
    </form>

    <div class="content-split" ng-show="!mainCtrl.buildPhase">
      <div class="content-part">
        <loading ng-show="mainCtrl.showLoadingAnimation"></loading>
      </div>
      <div class="content-part">
        <input type="button" class="button" value="Confirm Path" ng-disabled="!mainCtrl.pathsReady || !mainCtrl.playerPathReady" ng-click="mainCtrl.confirmPath()">
        <input type="button" class="button" value="Reset" ng-click="mainCtrl.resetMap()">
      </div>
    </div>
  </div>
</div>