<h2>Pathfinder!</h2>

<form ng-submit="mainCtrl.buildMap()">
  <label>Rows</label>
  <input type="number" placeholder="Rows" ng-model="mainCtrl.rows">
  <label>Columns</label>
  <input type="number" placeholder="Columns" ng-model="mainCtrl.columns">
  <input type="submit" value="Build Map!" ng-disabled="!mainCtrl.rows || !mainCtrl.columns">
</form>
<div class="map">
  <div class="map-row" ng-repeat="row in mainCtrl.map track by $index">
    <div class="row-item" ng-repeat="item in row track by $index" ng-click="mainCtrl.mapItemClick($parent.$index, $index)">
      <p>{{ item }}</p>
    </div>
  </div>
</div>
