<h2>Pathfinder!</h2>

<form ng-submit="mainCtrl.buildMap()">
  <label>Rows</label>
  <input type="number" placeholder="Rows" ng-model="mainCtrl.rows" min="0" max="50">
  <label>Columns</label>
  <input type="number" placeholder="Columns" ng-model="mainCtrl.columns" min="0" max="10">
  <input type="submit" value="Build Map!" ng-disabled="!mainCtrl.rows || !mainCtrl.columns">
</form>
<div class="map">
  <div class="map-row noselect" ng-repeat="row in mainCtrl.map track by $index">
    <div class="row-item " ng-class="{'light-path': item.lightPath, 'heavy-path': item.heavyPath, 'player-path': item.playerPath}" ng-repeat="item in row track by $index" ng-click="mainCtrl.mapItemClick(item, $parent.$index, $index)">
      <p>{{ item.value }}</p>
    </div>
  </div>
</div>
